/* /src/styles/global.css */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e3c72; /*colore*/
    font-family: 'Poppins', sans-serif;
    color: #333;
}

* {
    box-sizing: border-box;
}
